#*
*~
vhdl/iseconfig/
vhdl/working/
vhdl_alt/iseconfig/
vhdl_alt/working/
vhdl_atom/iseconfig/
vhdl_atom/working/

src/scripts/CMakeCache.txt
src/scripts/CMakeFiles/
src/scripts/Makefile
src/scripts/cmake_install.cmake
src/scripts/kernel*.img
src/scripts/rgb-to-hdmi
src/scripts/rgb_to_hdmi.cbp
src/scripts/releases/
src/scripts/gitversion.h
not_in_git/
