# Global Clock Nets
NET "clk" BUFG=CLK;

# Global Clock Nets
NET "sp_clk" BUFG=CLK;

# 96MHz clock domain
NET "clk" TNM_NET = clk_period_grp_1;
TIMESPEC TS_clk_period_1 = PERIOD "clk_period_grp_1" 10.4ns HIGH;

# 10MHz clock domain
#NET "sp_clk" TNM_NET = clk_period_grp_2;
#TIMESPEC TS_clk_period_2 = PERIOD "clk_period_grp_2" 100ns HIGH;

NET "clk"       LOC = "P43";       # input  gpio21 (gclk)

NET "R0_I"      LOC = "P32";       # input
NET "G0_I"      LOC = "P31";       # input
NET "B0_I"      LOC = "P30";       # input
NET "R1_I"      LOC = "P34";       # input
NET "G1_I"      LOC = "P36";       # input
NET "B1_I"      LOC = "P37";       # input

NET "csync_in"  LOC = "P23";       # input

NET "X1_I"      LOC = "P39";       # input  gpio26
NET "X2_I"      LOC = "P38";       # input  gpio16
NET "X3_I"      LOC = "P40";       # input  gpio19
NET "X4_I"      LOC = "P21";       # input  gpio27 
NET "X5_I"      LOC = "P42";       # input  gpio25
NET "X6_I"      LOC = "P18";       # input  gpio24

NET "vsync_in"  LOC = "P41";       # input  (connects to vsync)

NET "analog"    LOC = "P19";       # input  gpio22

NET "version"   LOC = "P33";       # input  gpio18 (gsr)

NET "sp_clk"    LOC = "P44";       # input  gpio20 (gclk)
NET "sp_data"   LOC = "P7";        # input  gpio0  (input only)
NET "sp_clken"  LOC = "P6";        # input  gpio1  (input only)

NET "quad(0)"   LOC = "P29";       # output gpio2
NET "quad(1)"   LOC = "P28";       # output gpio3
NET "quad(2)"   LOC = "P27";       # output gpio4
NET "quad(3)"   LOC = "P5";        # output gpio5
NET "quad(4)"   LOC = "P2";        # output gpio6
NET "quad(5)"   LOC = "P8";        # output gpio7
NET "quad(6)"   LOC = "P12";       # output gpio8
NET "quad(7)"   LOC = "P14";       # output gpio9
NET "quad(8)"   LOC = "P16";       # output gpio10
NET "quad(9)"   LOC = "P13";       # output gpio11
NET "quad(10)"  LOC = "P3";        # output gpio12
NET "quad(11)"  LOC = "P1";        # output gpio13

NET "psync"     LOC = "P22";       # output gpio17
NET "csync"     LOC = "P20";       # output gpio23

NET "quad(0)"   SLOW;
NET "quad(1)"   SLOW;
NET "quad(2)"   SLOW;
NET "quad(3)"   SLOW;
NET "quad(4)"   SLOW;
NET "quad(5)"   SLOW;
NET "quad(6)"   SLOW;
NET "quad(7)"   SLOW;
NET "quad(8)"   SLOW;
NET "quad(9)"   SLOW;
NET "quad(10)"  SLOW;
NET "quad(11)"  SLOW;
NET "psync"     SLOW;
NET "csync"     SLOW;
